# Ignore build folder
build/

# Ignore UI folder, this should be commited in its own repository
ui/

# Ignore all dot folders, with below exceptions
.*/

# VSCode
!.vscode/
!.vscode/*
.vscode/c_cpp_properties.json .vscode/extensions.json .vscode/launch.json .vscode/settings.json .vscode/tasks.json
